@charset "UTF-8";

@import url(font.css);
@import url(reset.css);

html{font-size: 10px; color: #111;}
body{font-family: "Noto Sans", sans-serif;}

:root{--mainColor1:#8ccd00;}
:root{--mainColor2:#53B6E7;}

.mo{display: none;}
.pc{display: block;}

.container{max-width: 1605px; margin-left: auto; margin-right: auto; }
section{margin-bottom: 160px;}
section:first-child{margin-top: 130px;}
.minMargin{padding-right: 20px; padding-left: 20px; box-sizing: border-box;}

/* -----header---- */
.topset {display: flex; justify-content: space-between; align-items: start; margin: 25px 20px 30px;}
.topset .langbox {font-size: 1.6rem; display: flex; gap: 10px; align-items: center; cursor: pointer;}
.topset .langbox span:nth-child(2) {background: #111; width: 1px; height: 15px;}
.topset .langbox span:last-child{color: #676767;}
.topset > a {width: 177px; display: inline-block;}
.topset a img{width: 100%; }
.topset .loginbox {font-size: 1.6rem; display: flex; gap: 10px; align-items: center; }
.topset .loginbox span{background: #111; width: 1px; height: 15px;}

.lnbbg{background: #fff; width: 100%; height: 300px; position: absolute; display: none; visibility: hidden;}    /* ----display:none---- */
.gnb {display: flex; max-width: 1330px; justify-content: space-between; margin-left: auto; margin-right: auto; position: relative; } 
.gnb > li {font-size: 20px;  position: relative;  padding: 15px 0; margin: 0 30px; white-space: nowrap;}
.gnb > li > a {padding: 15px;}
.gnb > li > .lnb {position: absolute; top: 100%; left: 0; display: none; visibility: hidden; min-width: 100%; z-index: 5; }   /* ----display:none---- */
.gnb > li > .lnb > li {font-size: 18px; }
.gnb > li > .lnb > li > a {display: block; padding: 10px 0 10px 15px;}

.gnb:hover li a{color: #555;}
.gnb:hover .lnbbg{display: inline-block; visibility: visible; top: 100%; left: 0; z-index: 2;}
.gnb li:hover > a{color: #111;}
.gnb:hover li .lnb{display: block; visibility: visible;}


.gnb > li::before{content: ''; position: absolute; bottom: 0; left: 0; background: #53B6E7; width: 0; height: 2px; transition: .3s;}
.gnb > li::after{content: ''; position: absolute; bottom: 0; right: 0; background: #8ccd00; width: 0; height: 2px; transition: .3s;}
.gnb > li:hover::before{content: ''; position: absolute; bottom: 0; left: 50%; background: #53B6E7; width: 50%; height: 2px; }
.gnb > li:hover::after{content: ''; position: absolute; bottom: 0; right: 50%; background: #8ccd00; width: 50%; height: 2px; }








/* -----hero---- */   /* !!페이지네이션 만들기!! */
.hero{height: calc(100vh - 200px); overflow: hidden; width: 100%; position: relative; box-sizing: border-box;}
/* 높이를 vh기준으로 해서 그런지 브라우저창 세로길이를 줄이면 영상영역이 짧아지는 것 같음 (글자가 넘침) */
.hero video{object-fit: cover; width: 100%; height: 100%;} 
.heroTset{position: absolute; z-index: 10; top: 7.8vw; left: 7vw;  z-index: 1;}
.hero strong{font-size: 8rem; font-weight: bold; color: var(--mainColor1); letter-spacing:-5px; font-family: "Montserrat", sans-serif;}  
.hero .heroText{font-size: 30px; letter-spacing: 2px; line-height: 140%; color: #fff; margin: 2.6rem 0 6rem;}
.hero .heroBtn{color: #fff; font-size: 20px; width: 170px; height: 57px; border: 1px solid rgba(255, 255, 255, 0.9); background: rgba(255, 255, 255, 0.2); backdrop-filter: blur(4px); border-radius: 50px; display: flex; justify-content:space-between; padding-left: 24px; align-items: center; }
.hero .heroBtn a{display: inline-block; width: 48px; height: 48px; background: #8CCD00; border-radius: 50%; margin-right: 7px; display: flex; justify-content: center; align-items: center;}
.hero .heroBtn a:hover{background: #99e001;}
.hero .heroBtn a img{width: 23px; height: 23px;}





/* -----sectionBox---- */

.s1 {}
.s1 h3 {font-size: 3rem; text-align: center; margin-bottom: 1.6em;}  /* 50px이어서 대략 1.6em */
.s1 .content {display: flex; justify-content: space-between; gap: 22px;}
.s1 .content .bimg {width: 50%;}
.s1 .content .bimg figure {max-width: 794px; position: relative;}
.s1 .content .bimg figure img{width: 100%; border: 1px solid #EBEBEB; border-radius: 10px; box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.05);}
.s1 .content .bimg .sort {position: absolute; bottom: 3rem; right: 3rem; padding: 24px 25px; background:rgba(111, 162, 0, 0.9); border-radius: 10px; color: #ECFBCC; backdrop-filter:blur(4px); max-width: 427px; width: 50%;} 
.s1 .content .bimg .sort .sortTop {display: flex; justify-content: space-between; margin-bottom: 20px; align-items: start;}
.s1 .content .bimg .sort .sortTop h4 {font-size: 2rem; font-weight: 500; letter-spacing: -2px; line-height: 140%; color: #fff;}
.s1 .content .bimg .sort .sortTop a {color: #ECFBCC; font-size: 1.4rem; line-height: 140%; letter-spacing: -2px; transition: .3s;}
.s1 .content .bimg .sort .sortTop a:hover{font-size: 1.45rem; color: #f5ffe0; display: inline-block; /* border-bottom:1px solid #f5ffe0; */}
/* hover 효과 언더라인이랑 폰트사이즈 중 어떤 걸로 할지 물어보기 */

.s1 .content .bimg .sort .sortBottom {display: flex; /* gap: 8.4rem; */ justify-content: space-between; font-size: 1.8rem; line-height: 140%; letter-spacing: -1px; font-weight: 300;}
.s1 .content .bimg .sort .sortBottom ul {}
.s1 .content .bimg .sort .sortBottom ul li {margin-bottom: 7px;}
.s1 .content .bimg .sort .sortBottom ul li:last-child {margin-bottom: 0;}


.s1 .content .simg {width: 40%; display: flex; flex-wrap: wrap; gap: 18px;  flex-grow: 1;}
.s1 .content .simg > li {/* max-width: 384px; */ width: 40%; position: relative;  flex-grow: 1; height: fit-content;}
.s1 .content .simg > li > figure{position: relative; width: 100%; overflow: hidden; border: 1px solid #EBEBEB; border-radius: 10px;}
.s1 .content .simg > li > figure > img {width: 100%; border-radius: 10px; box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.05); object-fit: cover; display: block; height: 45%; transition: .3s;}
/* simg의 위 아래 공백을 줄이고 싶어서 height:45%를 여기도 주고 조부모인 li에다가도 줘봣는데 안됨 */
/* bimg정보어떻게 하는지 수업내용보기 */ 



.s1 .content .simg li figure a{display: flex; align-items: center; justify-content: center; font-size: 2rem; font-weight: 300; letter-spacing: -2px; position: absolute; bottom: 5%; left: 10%; width: 80%; gap:8px; padding: 9px 0; background: rgba(255, 253, 253, 0.6); border-radius: 10px; backdrop-filter: blur(4px); border: 1px solid rgba(244,244,244, 0.6);}
.s1 .content .simg li figure a:hover{background: rgba(255, 253, 253, 0.8); color: #111;}

.s1 .content .simg li figure a span{display: flex; align-items: center;}
.s1 .content .simg li figure a span img{width: 20px;}
.s1 .content .simg li .sort{position: absolute; bottom: 0; right: 0;
background:rgba(111, 162, 0, 0.9); border-radius: 10px; color: #ECFBCC; backdrop-filter:blur(4px); display: none;}
.s1 .content .simg li .sort .sortTop{display: flex; justify-content: space-between; margin: 24px 0 20px; align-items: start;}
.s1 .content .simg li .sort .sortTop a{color: #ecfbcc;}
.s1 .content .simg li .sort .sortBottom{display: flex;}
/* 
.s1 .content .simg > li:hover > figure {border: 1px solid var(--mainColor1);} 
.s1 .content .simg > li:hover > figure > img{transform: scale(1.1);} 
*/
.s1 .content .simg > li.on > figure {border: 1px solid var(--mainColor1);} 
.s1 .content .simg > li.on > figure > img {transform: scale(1.1);}


.s2 figure{width: 100%; position: relative;}
.s2 figure > img{width: 100%; object-fit: cover; display: block; height: auto;}
.s2 figure .position{position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); display: flex; gap:3.54vw;}
.s2 figure .s2Tset{color: #fff; display: flex; flex-direction: column; align-items: end; white-space: nowrap;}
.s2 figure .s2Tset h3{font-size:4rem; line-height: 140%; letter-spacing: -2px; margin-bottom: 1.6rem; font-weight: 500;} 
/* section2 타이틀 크기 */
.s2 figure .s2Tset a{font-size: 1.6rem; line-height: 140%; letter-spacing: -1px; display: inline-block; display: flex; color: #fff; align-items: center;}

/* 화살표 촉이 축이랑 가운데가 아닌 것 같음 */
.s2 figure .s2Tset a .arrow{width: 1.9rem; height: 1.9rem; margin-left: 2px; position: relative;}
.s2Tset a .arrow span{width: 1.1rem; height: 1px; background: #fff; display: inline-block; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); transition: .2s;}
.s2Tset a .arrow span::before,
.s2Tset a .arrow span::after{content: ''; width: 0.6rem; height: 80%; position: absolute; background: #fff; transform-origin: right; right: 0;}
.s2Tset a .arrow span::before{transform: rotate(45deg);}
.s2Tset a .arrow span::after{transform: rotate(-45deg);}

.s2Tset a:hover .arrow span{width: 1.5rem; transition: .1s;} /* hover시 화살표길이 */

.s2 figure .imgset{display: flex; gap: 1vw;}
.s2 figure .imgset >  a{width: 19vw; height: auto; overflow: hidden; object-fit: cover; border: 1px solid #BCBEC0;}
.s2 figure .imgset >  a > img{width: 100%; transition: .3s;}

.s2 figure .imgset >  a:hover > img{transform: scale(1.1);}

.s3 {}
/* .setDateHeight{padding-top: 2.5rem;} */
.s3 h3 {font-size: 3rem; text-align: center; margin-bottom: 1.6em;}
.s3 ul {display: flex; gap:2.5vw;}
.s3 ul li {width: 30%; flex-grow: 1;}
.s3 ul li > a{width: /* 25.6vw */100%; height: auto; border: 1px solid #bcbec0; overflow: hidden; object-fit: cover; display: inline-block; }
.s3 ul li > a > img {width: 100%; transition: .3s;}
.s3 ul li:hover > a > img {transform: scale(1.1); transition: .3s;} 
.s3 ul li .textSet {}
.s3 ul li .textSet .title {margin-top: 1.5rem; font-size: 2rem; font-weight: 600; display: inline-block;}
.s3 ul li .textSet .desc {font-size: 1.8rem; letter-spacing: -1px; margin: 5px 0 7px;}
.s3 ul li .textSet .date {font-size: 1.6rem; letter-spacing: -1px; /* display: inline-block; */}


footer{height: 10vw; width: 100%; background: #102B4A; display: flex; align-items: center; justify-content: center;}
footer .content{display: flex; gap:3.64rem; align-items: center; font-size: 1.4rem;}
footer .content .desc{color: #fff; line-height: 140%;}



@media screen and (max-width:1220px)  {
    .pc { display: none; }
    .mo { display: block; }

    .hamburger{width: 40px; height: 40px; position:absolute; top: 15px; left: 20px; z-index: 7;}
.hamburger span{position: absolute; top: 50%; left: 50%; height: 2px; width: 22px; background: #111; transform: translate(-50%,-50%);}
.hamburger span::before,
.hamburger span::after
{content: ''; width: 100%; height: 100%; background: #111; position: absolute; left: 0; transition: .3s;}
.hamburger span::before{top: -6px;}
.hamburger span::after{top: 6px;}

.hamburger.on span::before{top: 0px; width: 50%; transform-origin: left; transform:rotate(-45deg);}
.hamburger.on span::after{top: 0px; left: 0; width: 50%; transform-origin: left; transform:rotate(45deg);}

nav{width: 100%; height: 100%; position:fixed; background: rgba(255,255,255,1); top: 0; left: -100%; z-index: 5;}
nav.on{left: 0;}
ul.gnb{display: flex; flex-direction: column; margin-top: 70px;}
ul.gnb > li > a{padding:0;}
ul.gnb > li > ul.lnb{position: relative; padding-right: 30px;}  /* 연두바탕 크기 줄이려고 넣었는데 안됨 */
.gnb > li:hover::before{width:0; height: 0; }
.gnb > li:hover::after{width: 0; height: 0; }
.gnb > li:hover > a{color: var(--mainColor1);}
.gnb > li > .lnb > li:first-child{margin-top: 10px;}
.gnb > li > .lnb > li:hover{background: rgba(140,205, 0, 0.6);}
.gnb > li > .lnb > li:hover > a{color: #fff;}


.gnb > li > .lnb > li{border: 1px solid #000;}

.hero{width: 100%; height: 50%;}
.hero strong{font-size: 6rem; font-weight: bold; letter-spacing: normal;}
.heroTset{top: auto; bottom: 10px; left: 18px; }
.hero .heroText{display: none;}
.hero .heroBtn{display: none;}
.topset .langbox{display: none;}
.topset .loginbox{display: none;}
.topset > a{width: 96px; margin: 0 auto;}  /* 로고크기 가운데 안됨 */



    .s1 .content .bimg .sort .sortBottom ul:nth-child(2) {display: none;}

    .s2 figure.mo{height:clamp(18.4rem,35vw,50rem);}
    .s2 figure.mo img{height: 100%;}
    .s2 figure.mo > .position{flex-direction: column; align-items: start;}
    .s2 figure.mo > .position .s2Tset{align-items: start;}
/*     .s2 figure.mo > .position > .s2Tset{flex-direction: row; justify-content: center; align-items: center; gap: 2rem;}   지금 배치랑 텍스트 가로배치 비교해서 나은걸로 하기*/



.s3 ul{}

/* 
.s3 ul {display: flex; gap:2.5vw;}
.s3 ul li {width: 30%; flex-grow: 1;}
.s3 ul li > a{width: 100%; height: auto; border: 1px solid #bcbec0; overflow: hidden; object-fit: cover; display: inline-block; }
.s3 ul li > a > img {width: 100%; transition: .3s;}
 */

}





@media screen and (max-width:1000px)  {
    .pc { display: none; }
    .mo { display: block; }

    .s1 .content .bimg{display: none;}
    .s2 figure.mo > .position {}
    .s2 figure.mo > .position .s2Tset { width: 100%;}
    .s2 figure.mo > .position .s2Tset h3{margin-bottom: 0; font-size: 3.5rem; width: 100%; text-align: center;}
    .s2 figure.mo > .position .s2Tset a{display: none;}

    .s3 ul li .textSet{display: flex; flex-direction: column;}
    .s3 ul li .textSet .desc{display: none}
    .s3 ul li .textSet .date{text-indent: 3px; margin-top: 4px;}

}



@media screen and (max-width:390px) {

.pc { display: none; }
.mo { display: block; }

.hero{width: 100%; height: auto;}
.hero strong{font-size: 3rem; font-weight: normal; letter-spacing: normal;}
.heroTset{top: auto; bottom: 10px; left: 18px;}
.hero .heroText{display: none;}
.hero .heroBtn{display: none;}
.topset .langbox{display: none;}
.topset .loginbox{display: none;}
.topset > a{width: 96px; margin: 0 auto;}  /* 로고크기 가운데 안됨 */
.s2 figure.mo .position .s2Tset > h3{font-size: 2rem; margin-bottom: 0; letter-spacing: -1px;}



.s1 .content .bimg{display: none;}

    .s2 figure.mo{max-height: 537px;}
    .s2 figure.mo .position{flex-direction: column; align-items: center; width: 80%;}
    .s2 figure.mo .position .s2Tset{flex-direction: row;  align-items: center; width: 100%; justify-content:center;}
    .s2 figure.mo .position .s2Tset > h3{font-size: 2rem; margin-bottom: 0; letter-spacing: -1px;}
    .s2 figure.mo .position .s2Tset > a{display: none;}
    .s2 figure.mo .position .imgset{width: 100%; justify-content: center;}

}